* {
  margin: 0px;
  padding: 0px;
}
.nav1 {
  display: flex;
  height: 40px;
  background-color: bisque;
  justify-content: space-between;
  padding: 2px;
}
.head {
  justify-content: space-between;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.union {
  justify-content: space-between;
  position: relative;
}
.ticket {
  justify-content: space-between;
  position: relative;
}
.nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  display: flex;
  align-items: center;
  position: relative;
}
.logo{
    padding-left: 10vh;
}
.navbar li {
  padding: 5px;
}
.personal {
  display: flex;
  float: right;
  position: relative;
  padding-right: 10vh;
}
.body{
    height: 80vh;
    width: 180vh;
    display: flex;
    justify-content: center;
    margin: auto;
}
.arrows{
    z-index: 1;
    
}
.arrow1{
    
    height: 5vh;
    width: 5vh;
    padding-left: 10vh;   
}
.arrow2{
    
    height: 5vh;
    width: 5vh;
    padding-right: 10vh;  
}
.main{
    position: absolute;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 80vh;
    width: 180vh;
}
.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 10vh;
    padding-right: 10vh;
    height: 152px;
    width: 180vh;
    justify-content: space-between;
}
.header2{
    font-size: 20px;
    justify-content: center;
    margin: auto;
    
}