* {
  margin: 0px;
  padding: 0px;
}
.nav1 {
  display: flex;
  height: 40px;
  background-color: bisque;
  justify-content: space-between;
  padding: 2px;
}
.head {
  justify-content: space-between;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.union {
  justify-content: space-between;
  position: relative;
}
.ticket {
  justify-content: space-between;
  position: relative;
}
.nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  display: flex;
  align-items: center;
  position: relative;
}
.logo{
    padding-left: 10vh;
}
.navbar li {
  padding: 5px;
}
.personal {
  display: flex;
  float: right;
  position: relative;
  padding-right: 10vh;
}
