* {
  margin: 0px;
  padding: 0px;
}
.nav1 {
  display: flex;
  height: 40px;
  background-color: bisque;
  justify-content: space-between;
  padding: 2px;
}
.head {
  justify-content: space-between;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.union {
  justify-content: space-between;
  position: relative;
}
.ticket {
  justify-content: space-between;
  position: relative;
}
.nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  display: flex;
  align-items: center;
  position: relative;
}
.logo{
    padding-left: 10vh;
}
.navbar li {
  padding: 5px;
}
.personal {
  display: flex;
  float: right;
  position: relative;
  padding-right: 10vh;
}
.body{
    height: 80vh;
    width: 180vh;
    display: flex;
    justify-content: center;
    margin: auto;
}
.arrows{
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height:80vh ;
    width:180vh ;
}
.arrow1{
    
    height: 5vh;
    width: 5vh;
    padding-left: 10vh; 
    position: absolute; 
    
     
}
.arrow2{
    
    height: 5vh;
    width: 5vh;
    padding-right: 10vh;  
    

}
.main{
    position: absolute;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 80vh;
    width: 180vh;
}
.header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-left: 10vh;
    padding-right: 10vh;
    height: 152px;
    width: 180vh;
    justify-content: space-between;
}
.header2{
    font-size: 20px;
    justify-content: center;
    margin: auto;
    
}
.banner-grid{
    height: 80vh;
    width: 180vh;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    margin: auto;
}
.big-card{
    height: 80vh;
    width: 70vh;
    display: flex;
    justify-content: center;
    margin-left: 7vh;
    position: relative;
}
.content{
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   position: absolute;
    z-index: 10;
    top: 850px;
    left: 200px;
   
}
.small-card1{
    height:50% ;
    width:40% ;
    margin: auto;
    padding-right: 10px;
}
.content2{
    justify-content: center;
    align-items: center;
    top: 800px;
    z-index: 10;

}
.small{
    display: flex;
    flex-direction: column;
    height:70vh;
    width: 100vh;
   

}
.small-card2{
    margin: auto;
        height:50% ;
        width:40% ;
}
.content3{
    justify-content: center;
    align-items: center;
    
    z-index: 10;
}
.product{
    height: 650px;
    width: 1500px;
    /* background-color: gray; */
}
.title{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    height: 90px;
    width: 1100px;
    /* background-color: azure; */
}
button{
    margin-top: auto;
    height: 30px;
    width: 120px;
}
.content4{
    margin-right: 20px;
    font-size: 30px;
    margin: auto
    height: ;
    width: 200px;
}
.value_section {
    padding: 20px 5px 0px 5px;
    display: flex;
    gap: 10px;
}

.values {
    background-color: gray;
    width: 25%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    padding-top: 20px;
}

.text2 {
  
    font-size: 13px;
}
.banner{
    height: 550px;
    width: 100%;
    display: flex;
    background-color: lightgray;
}
.title-banner{
    height: 220px;
    width: 450px;
    margin: auto;
    
}
.blog-section{
    height: 670px;
    width:100% ;
    
}
.text{
    height: 50px;
    width: 1130px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.more-button{
    display: flex;
    
}
.article-section{
    height: 420px;
    width: 1130px;
    margin: auto;
    
    display: flex;
    gap: 10px;
    
}
.article{
    display: flex;
    flex-direction: column;
}
.more{
    display: flex;
}
.newsletter{
    height: 300px;
    width: 100%;
    display: flex;
}
.newsletter-content{
    height: 170px;
    width:540px ;
    margin: auto;
}
.email{
    height: 50px;
    width:500px ;
    display: flex;
    
}
.sign{
    display: flex;
    justify-content: space-between
}
.sofa-image{
    float: right;
}
.table{
    float: left;
    /* position:absolute; */
    /* clip: rect(0,50px,50px,50px); */
}
.footer{
    height: 250px;
    width: 100%;
    background-color: gray;
}